addHeader changes case of header name

`addHeader` changes the case of the first letter of the header name ("user" becomes "User") and has no option to disable this behavior. This is an issue because some sites expect header fields to be lower case and error when they're not (Like reddit) 

Some code demonstrating this issue

```
auto rq = Request(); 
rq.addHeaders(["user": "_", "passwd": "_"]);
auto rs = rq.post("http://httpbin.org/post");
return to!string(rs.responseBody);
```

The output of that is 

```
{
  "args": {}, 
  "data": "", 
  "files": {}, 
  "form": {}, 
  "headers": {
    "Accept-Encoding": "gzip, deflate", 
    "Connection": "close", 
    "Content-Length": "0", 
    "Content-Type": "application/x-www-form-urlencoded", 
    "Host": "httpbin.org", 
    "Passwd": "_", 
    "User": "_",
  }, 
  "origin": "XXX.XXX.XXX.XXX", 
  "url": "http://httpbin.org/post"
}
```

The function responsible for this seems to be [normalizeHeader](https://github.com/ikod/dlang-requests/blob/f19ffed0dee4a054746cfc8c0307c7bb8892f143/source/requests/http.d#L445)

Hello @cyian-1756 

That's funny as standard says (https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2):

> 4.2 Message Headers
> 
> HTTP header fields, which include general-header (section 4.5), request-header (section 5.3), response-header (section 6.2), and entity-header (section 7.1) fields, follow the same generic format as that given in Section 3.1 of RFC 822 [9]. Each header field consists of a name followed by a colon (":") and the field value. **_Field names are case-insensitive_**.
> 

Ok, I'll check how to make this configurable. Thanks for report.


@cyian-1756 , does reddit require all headers be lowercase, or only reddit-related? Fo example - does it accept 'Host', 'Content-Length' which all are normalized?

> does reddit require all headers be lowercase, or only reddit-related?

Only reddit related

Ok, then probably I'll add parameter to [addHeaders](https://github.com/ikod/dlang-requests/blob/f19ffed0dee4a054746cfc8c0307c7bb8892f143/source/requests/http.d#L460) which will control header normalization for user-defined headers. I'll ping you when it will be ready.

@cyian-1756 , can you please test current master for this problem? I changed code related to addHeaders, so it should not touch user headers.

> can you please test current master for this problem?

After testing I can confirm that your last push fixed this

After some playing around I've found something a bit weird. Reddit rejects the content-type header if any letter in the word "type" is upper case ("Content-type" works, "Content-Type" fails)

But if I make the request using curl

```
curl 'https://www.reddit.com/api/login/_del3ted' -H 'user-agent: Mozilla/5.0 (X11;afari/537.36' -H 'content-type: application/x-www-form-urlencoded' -duser=XXXXXXX -dapi_type=json -dpasswd=XXXXXXXX
```
content-type must be all lower case or reddit returns an error

But when I use the go reddit api (geddit) which uses the header spelled [Content-Type](https://github.com/jzelinskie/geddit/blob/f75101e39ffed7ec9596d6929a8d85bb86223339/login_session.go#L52) it logs in just fine.

Ok, can you please attach any debug info (excluded passwords) for curl, requests and reddit-api calls? I'd like to compare and see what happens.

To enable requests debugging you can set rq.verbosity=3, for curl this -v switch

Here's the debug for reddit with the auto set content-type header

```
> POST /api/login/XXXXXXX HTTP/1.1
> Content-Length: 100
> User-Agent: dlang-requests
> Accept-Encoding: gzip,deflate
> Connection: Keep-Alive
> Host: www.reddit.com
> Content-Type: application/x-www-form-urlencoded
> 
> api_type=json&user=XXXXXX&passwd=XXXXXXXX
00000  48 54 54 50 2F 31 2E 31  20 32 30 30 20 4F 4B 0D  |HTTP/1.1 200 OK.|
00010  0A 43 6F 6E 74 65 6E 74  2D 54 79 70 65 3A 20 61  |.Content-Type: a|
00020  70 70 6C 69 63 61 74 69  6F 6E 2F 6A 73 6F 6E 3B  |pplication/json;|
00030  20 63 68 61 72 73 65 74  3D 55 54 46 2D 38 0D 0A  | charset=UTF-8..|
00040  78 2D 75 61 2D 63 6F 6D  70 61 74 69 62 6C 65 3A  |x-ua-compatible:|
00050  20 49 45 3D 65 64 67 65  0D 0A 78 2D 66 72 61 6D  | IE=edge..x-fram|
00060  65 2D 6F 70 74 69 6F 6E  73 3A 20 53 41 4D 45 4F  |e-options: SAMEO|
00070  52 49 47 49 4E 0D 0A 78  2D 63 6F 6E 74 65 6E 74  |RIGIN..x-content|
00080  2D 74 79 70 65 2D 6F 70  74 69 6F 6E 73 3A 20 6E  |-type-options: n|
00090  6F 73 6E 69 66 66 0D 0A  78 2D 78 73 73 2D 70 72  |osniff..x-xss-pr|
000A0  6F 74 65 63 74 69 6F 6E  3A 20 31 3B 20 6D 6F 64  |otection: 1; mod|
000B0  65 3D 62 6C 6F 63 6B 0D  0A 73 65 74 2D 63 6F 6F  |e=block..set-coo|
000C0  6B 69 65 3A 20 6C 6F 69  64 3D 30 30 30 30 30 30  |kie: loid=000000|
000D0  30 30 30 30 30 76 76 64  39 6D 6D 7A 2E 32 2E 31  |00000vvd9mmz.2.1|
000E0  35 31 38 30 30 38 35 39  30 37 35 31 2E 5A 30 46  |518008590751.Z0F|
000F0  42 51 55 46 42 51 6D 46  6C 64 6D 74 51 4D 6A 49  |BQUFBQmFldmtQMjI|
00100  74 55 30 55 74 54 6E 46  79 61 6D 4A 53 4E 31 56  |tU0UtTnFyamJSN1V|
00110  46 62 45 38 31 4E 33 4A  4D 62 6A 49 33 51 55 67  |FbE81N3JMbjI3QUg|
00120  33 56 54 42 34 51 32 52  79 62 58 70 47 57 6B 45  |3VTB4Q2RybXpGWkE|
00130  78 4D 56 64 48 59 6C 4E  75 4D 55 6C 77 54 58 4E  |xMVdHYlNuMUlwTXN|
00140  4A 53 54 67 7A 4D 6B 78  4C 4D 33 6C 33 51 30 4A  |JSTgzMkxLM3l3Q0J|
00150  33 65 6D 5A 52 54 6B 31  47 56 55 68 44 63 30 39  |3emZRTk1GVUhDc09|
00160  71 52 45 5A 56 62 31 52  4C 4C 55 5A 6A 4F 55 35  |qREZVb1RLLUZjOU5|
00170  4E 51 7A 5A 73 64 45 6F  79 52 48 56 61 55 58 4E  |NQzZsdEoyRHVaUXN|
00180  57 54 58 4A 50 64 69 31  46 64 54 5A 61 52 32 78  |WTXJPdi1FdTZaR2x|
00190  4A 65 57 6C 53 57 56 5A  49 64 48 64 30 4E 30 4E  |JeWlSWVZIdHd0N0N|
001A0  7A 64 48 52 78 51 58 51  3B 20 44 6F 6D 61 69 6E  |zdHRxQXQ; Domain|
001B0  3D 72 65 64 64 69 74 2E  63 6F 6D 3B 20 4D 61 78  |=reddit.com; Max|
001C0  2D 41 67 65 3D 36 33 30  37 31 39 39 39 3B 20 50  |-Age=63071999; P|
001D0  61 74 68 3D 2F 3B 20 65  78 70 69 72 65 73 3D 46  |ath=/; expires=F|
001E0  72 69 2C 20 30 37 2D 46  65 62 2D 32 30 32 30 20  |ri, 07-Feb-2020 |
001F0  31 33 3A 30 33 3A 31 31  20 47 4D 54 3B 20 73 65  |13:03:11 GMT; se|
00200  63 75 72 65 0D 0A 73 65  74 2D 63 6F 6F 6B 69 65  |cure..set-cookie|
00210  3A 20 73 65 73 73 69 6F  6E 5F 74 72 61 63 6B 65  |: session_tracke|
00220  72 3D 65 72 4D 51 53 6E  71 4B 45 76 70 32 36 6B  |r=erMQSnqKEvp26k|
00230  46 62 77 34 2E 30 2E 31  35 31 38 30 30 38 35 39  |Fbw4.0.151800859|
00240  30 37 34 36 2E 5A 30 46  42 51 55 46 42 51 6D 46  |0746.Z0FBQUFBQmF|
00250  6C 64 6D 74 51 62 32 68  4B 59 6E 68 66 51 6B 70  |ldmtQb2hKYnhfQkp|
00260  49 4D 58 68 69 62 54 6B  34 4D 47 5A 33 55 30 56  |IMXhibTk4MGZ3U0V|
00270  36 54 56 4A 6D 4E 57 78  70 58 7A 56 45 56 44 63  |6TVJmNWxpXzVEVDc|
00280  7A 4E 55 35 4C 61 6E 6C  45 53 31 6B 31 63 58 41  |zNU5LanlES1k1cXA|
00290  34 57 47 39 79 65 47 5A  51 4C 58 5A 68 58 33 46  |4WG9yeGZQLXZhX3F|
002A0  71 63 7A 64 76 62 30 31  34 63 57 4E 45 64 6B 46  |qczdvb014cWNEdkF|
002B0  70 65 48 5A 56 51 6A 6C  32 64 6E 52 30 52 58 52  |peHZVQjl2dnR0RXR|
002C0  59 55 47 46 34 4D 46 6C  4A 54 6B 39 33 59 6C 67  |YUGF4MFlJTk93Ylg|
002D0  78 65 47 63 79 53 56 51  33 62 47 74 53 4F 56 63  |xeGcySVQ3bGtSOVc|
002E0  33 5A 6D 74 79 64 6B 64  76 63 54 68 7A 55 47 45  |3ZmtydkdvcThzUGE|
002F0  33 5A 6D 70 70 51 6A 4A  45 52 45 46 59 52 6C 63  |3ZmppQjJEREFYRlc|
00300  3B 20 44 6F 6D 61 69 6E  3D 72 65 64 64 69 74 2E  |; Domain=reddit.|
00310  63 6F 6D 3B 20 4D 61 78  2D 41 67 65 3D 37 31 39  |com; Max-Age=719|
00320  39 3B 20 50 61 74 68 3D  2F 3B 20 65 78 70 69 72  |9; Path=/; expir|
00330  65 73 3D 57 65 64 2C 20  30 37 2D 46 65 62 2D 32  |es=Wed, 07-Feb-2|
00340  30 31 38 20 31 35 3A 30  33 3A 31 31 20 47 4D 54  |018 15:03:11 GMT|
00350  3B 20 73 65 63 75 72 65  0D 0A 63 61 63 68 65 2D  |; secure..cache-|
00360  63 6F 6E 74 72 6F 6C 3A  20 6D 61 78 2D 61 67 65  |control: max-age|
00370  3D 30 2C 20 6D 75 73 74  2D 72 65 76 61 6C 69 64  |=0, must-revalid|
00380  61 74 65 0D 0A 58 2D 4D  6F 6F 73 65 3A 20 6D 61  |ate..X-Moose: ma|
00390  6A 65 73 74 69 63 0D 0A  53 74 72 69 63 74 2D 54  |jestic..Strict-T|
003A0  72 61 6E 73 70 6F 72 74  2D 53 65 63 75 72 69 74  |ransport-Securit|
003B0  79 3A 20 6D 61 78 2D 61  67 65 3D 31 35 35 35 32  |y: max-age=15552|
003C0  30 30 30 3B 20 69 6E 63  6C 75 64 65 53 75 62 44  |000; includeSubD|
003D0  6F 6D 61 69 6E 73 3B 20  70 72 65 6C 6F 61 64 0D  |omains; preload.|
003E0  0A 43 6F 6E 74 65 6E 74  2D 4C 65 6E 67 74 68 3A  |.Content-Length:|
003F0  20 39 39 0D 0A 41 63 63  65 70 74 2D 52 61 6E 67  | 99..Accept-Rang|
00400  65 73 3A 20 62 79 74 65  73 0D 0A 44 61 74 65 3A  |es: bytes..Date:|
00410  20 57 65 64 2C 20 30 37  20 46 65 62 20 32 30 31  | Wed, 07 Feb 201|
00420  38 20 31 33 3A 30 33 3A  31 31 20 47 4D 54 0D 0A  |8 13:03:11 GMT..|
00430  56 69 61 3A 20 31 2E 31  20 76 61 72 6E 69 73 68  |Via: 1.1 varnish|
00440  0D 0A 43 6F 6E 6E 65 63  74 69 6F 6E 3A 20 6B 65  |..Connection: ke|
00450  65 70 2D 61 6C 69 76 65  0D 0A 58 2D 53 65 72 76  |ep-alive..X-Serv|
00460  65 64 2D 42 79 3A 20 63  61 63 68 65 2D 6D 64 77  |ed-By: cache-mdw|
00470  31 37 33 34 33 2D 4D 44  57 0D 0A 58 2D 43 61 63  |17343-MDW..X-Cac|
00480  68 65 3A 20 4D 49 53 53  0D 0A 58 2D 43 61 63 68  |he: MISS..X-Cach|
00490  65 2D 48 69 74 73 3A 20  30 0D 0A 58 2D 54 69 6D  |e-Hits: 0..X-Tim|
004A0  65 72 3A 20 53 31 35 31  38 30 30 38 35 39 31 2E  |er: S1518008591.|
004B0  37 32 39 32 37 30 2C 56  53 30 2C 56 45 36 33 35  |729270,VS0,VE635|
004C0  0D 0A 53 65 74 2D 43 6F  6F 6B 69 65 3A 20 65 64  |..Set-Cookie: ed|
004D0  67 65 62 75 63 6B 65 74  3D 45 55 49 30 50 34 38  |gebucket=EUI0P48|
004E0  47 68 71 5A 4D 4C 58 69  7A 33 31 3B 20 44 6F 6D  |GhqZMLXiz31; Dom|
004F0  61 69 6E 3D 72 65 64 64  69 74 2E 63 6F 6D 3B 20  |ain=reddit.com; |
00500  4D 61 78 2D 41 67 65 3D  36 33 30 37 31 39 39 39  |Max-Age=63071999|
00510  3B 20 50 61 74 68 3D 2F  3B 20 20 73 65 63 75 72  |; Path=/;  secur|
00520  65 0D 0A 53 65 72 76 65  72 3A 20 73 6E 6F 6F 73  |e..Server: snoos|
00530  65 72 76 0D 0A 0D 0A 7B  22 6A 73 6F 6E 22 3A 20  |erv....{"json": |
00540  7B 22 65 72 72 6F 72 73  22 3A 20 5B 5B 22 49 4E  |{"errors": [["IN|
00550  43 4F 52 52 45 43 54 5F  55 53 45 52 4E 41 4D 45  |CORRECT_USERNAME|
00560  5F 50 41 53 53 57 4F 52  44 22 2C 20 22 69 6E 63  |_PASSWORD", "inc|
00570  6F 72 72 65 63 74 20 75  73 65 72 6E 61 6D 65 20  |orrect username |
00580  6F 72 20 70 61 73 73 77  6F 72 64 22 2C 20 22 70  |or password", "p|
00590  61 73 73 77 64 22 5D 5D  7D 7D                    |asswd"]]}}      |
< HTTP/1.1 200 OK
< content-type: application/json; charset=UTF-8
< x-ua-compatible: IE=edge
< x-frame-options: SAMEORIGIN
< x-content-type-options: nosniff
< x-xss-protection: 1; mode=block
< set-cookie: loid=00000000000vvd9mmz.2.1518008590751.Z0FBQUFBQmFldmtQMjItU0UtTnFyamJSN1VFbE81N3JMbjI3QUg3VTB4Q2RybXpGWkExMVdHYlNuMUlwTXNJSTgzMkxLM3l3Q0J3emZRTk1GVUhDc09qREZVb1RLLUZjOU5NQzZsdEoyRHVaUXNWTXJPdi1FdTZaR2xJeWlSWVZIdHd0N0NzdHRxQXQ; Domain=reddit.com; Max-Age=63071999; Path=/; expires=Fri, 07-Feb-2020 13:03:11 GMT; secure
< set-cookie: session_tracker=erMQSnqKEvp26kFbw4.0.1518008590746.Z0FBQUFBQmFldmtQb2hKYnhfQkpIMXhibTk4MGZ3U0V6TVJmNWxpXzVEVDczNU5LanlES1k1cXA4WG9yeGZQLXZhX3Fqczdvb014cWNEdkFpeHZVQjl2dnR0RXRYUGF4MFlJTk93YlgxeGcySVQ3bGtSOVc3ZmtydkdvcThzUGE3ZmppQjJEREFYRlc; Domain=reddit.com; Max-Age=7199; Path=/; expires=Wed, 07-Feb-2018 15:03:11 GMT; secure
< cache-control: max-age=0, must-revalidate
< x-moose: majestic
< strict-transport-security: max-age=15552000; includeSubDomains; preload
< content-length: 99
< accept-ranges: bytes
< date: Wed, 07 Feb 2018 13:03:11 GMT
< via: 1.1 varnish
< connection: keep-alive
< x-served-by: cache-mdw17343-MDW
< x-cache: MISS
< x-cache-hits: 0
< x-timer: S1518008591.729270,VS0,VE635
< set-cookie: edgebucket=EUI0P48GhqZMLXiz31; Domain=reddit.com; Max-Age=63071999; Path=/;  secure
< server: snooserv
< 99 bytes of body received
>> Connect time: 302 ms, 348 μs, and 4 hnsecs
>> Request send time: 337 μs and 5 hnsecs
>> Response recv time: 687 ms, 98 μs, and 5 hnsecs
```

Here's the debug for the manually set debug header

```
> POST /api/login/XXXXX HTTP/1.1
> Content-Length: 100
> Connection: Keep-Alive
> Accept-Encoding: gzip,deflate
> Content-Type: application/x-www-form-urlencoded
> Content-type: application/x-www-form-urlencoded
> User-Agent: dlang-requests
> Host: www.reddit.com
> 
> api_type=json&user=XXXXX_&passwd=XXXXXXX
00000  48 54 54 50 2F 31 2E 31  20 32 30 30 20 4F 4B 0D  |HTTP/1.1 200 OK.|
00010  0A 43 6F 6E 74 65 6E 74  2D 54 79 70 65 3A 20 61  |.Content-Type: a|
00020  70 70 6C 69 63 61 74 69  6F 6E 2F 6A 73 6F 6E 3B  |pplication/json;|
00030  20 63 68 61 72 73 65 74  3D 55 54 46 2D 38 0D 0A  | charset=UTF-8..|
00040  78 2D 75 61 2D 63 6F 6D  70 61 74 69 62 6C 65 3A  |x-ua-compatible:|
00050  20 49 45 3D 65 64 67 65  0D 0A 78 2D 66 72 61 6D  | IE=edge..x-fram|
00060  65 2D 6F 70 74 69 6F 6E  73 3A 20 53 41 4D 45 4F  |e-options: SAMEO|
00070  52 49 47 49 4E 0D 0A 78  2D 63 6F 6E 74 65 6E 74  |RIGIN..x-content|
00080  2D 74 79 70 65 2D 6F 70  74 69 6F 6E 73 3A 20 6E  |-type-options: n|
00090  6F 73 6E 69 66 66 0D 0A  78 2D 78 73 73 2D 70 72  |osniff..x-xss-pr|
000A0  6F 74 65 63 74 69 6F 6E  3A 20 31 3B 20 6D 6F 64  |otection: 1; mod|
000B0  65 3D 62 6C 6F 63 6B 0D  0A 65 78 70 69 72 65 73  |e=block..expires|
000C0  3A 20 2D 31 0D 0A 63 61  63 68 65 2D 63 6F 6E 74  |: -1..cache-cont|
000D0  72 6F 6C 3A 20 70 72 69  76 61 74 65 2C 20 73 2D  |rol: private, s-|
000E0  6D 61 78 61 67 65 3D 30  2C 20 6D 61 78 2D 61 67  |maxage=0, max-ag|
000F0  65 3D 30 2C 20 6D 75 73  74 2D 72 65 76 61 6C 69  |e=0, must-revali|
00100  64 61 74 65 2C 20 6D 61  78 2D 61 67 65 3D 30 2C  |date, max-age=0,|
00110  20 6D 75 73 74 2D 72 65  76 61 6C 69 64 61 74 65  | must-revalidate|
00120  0D 0A 73 65 74 2D 63 6F  6F 6B 69 65 3A 20 6C 6F  |..set-cookie: lo|
00130  69 64 3D 30 30 30 30 30  30 30 30 30 30 30 76 76  |id=00000000000vv|
00140  64 72 74 35 65 2E 32 2E  31 35 31 38 30 30 38 38  |drt5e.2.15180088|
00150  30 38 30 31 35 2E 5A 30  46 42 51 55 46 42 51 6D  |08015.Z0FBQUFBQm|
00160  46 6C 64 6D 35 76 4F 56  42 74 65 44 52 58 4E 44  |Fldm5vOVBteDRXND|
00170  49 35 51 6A 42 73 62 57  68 55 63 7A 5A 4C 4E 48  |I5QjBsbWhUczZLNH|
00180  64 4D 54 6C 42 56 65 6D  35 70 62 6B 56 43 52 48  |dMTlBVem5pbkVCRH|
00190  6C 33 64 6B 35 31 4D 30  78 6E 62 6B 31 6A 51 57  |l3dk51M0xnbk1jQW|
001A0  78 36 63 47 70 44 54 6B  6C 53 61 7A 46 49 65 47  |x6cGpDTklSazFIeG|
001B0  56 72 4E 47 46 5A 55 48  6C 55 56 6A 56 4A 54 47  |VrNGFZUHlUVjVJTG|
001C0  64 4A 59 30 6B 33 4D 46  5A 72 4D 56 4A 53 5A 33  |dJY0k3MFZrMVJSZ3|
001D0  70 43 4F 57 35 4E 61 45  4E 48 65 56 70 4D 4E 55  |pCOW5NaENHeVpMNU|
001E0  46 68 56 31 56 79 63 54  46 66 53 31 63 7A 4E 69  |FhV1VycTFfS1czNi|
001F0  31 32 62 58 56 48 64 33  4A 32 4E 32 31 73 65 55  |12bXVHd3J2N21seU|
00200  6C 43 63 33 64 76 4D 6D  64 61 4F 47 5A 35 63 55  |lCc3dvMmdaOGZ5cU|
00210  6F 3B 20 44 6F 6D 61 69  6E 3D 72 65 64 64 69 74  |o; Domain=reddit|
00220  2E 63 6F 6D 3B 20 4D 61  78 2D 41 67 65 3D 36 33  |.com; Max-Age=63|
00230  30 37 31 39 39 39 3B 20  50 61 74 68 3D 2F 3B 20  |071999; Path=/; |
00240  65 78 70 69 72 65 73 3D  46 72 69 2C 20 30 37 2D  |expires=Fri, 07-|
00250  46 65 62 2D 32 30 32 30  20 31 33 3A 30 36 3A 34  |Feb-2020 13:06:4|
00260  38 20 47 4D 54 3B 20 73  65 63 75 72 65 0D 0A 73  |8 GMT; secure..s|
00270  65 74 2D 63 6F 6F 6B 69  65 3A 20 73 65 73 73 69  |et-cookie: sessi|
00280  6F 6E 5F 74 72 61 63 6B  65 72 3D 42 6F 6D 69 68  |on_tracker=Bomih|
00290  69 56 78 34 31 35 49 72  68 71 4D 38 7A 2E 30 2E  |iVx415IrhqM8z.0.|
002A0  31 35 31 38 30 30 38 38  30 38 30 31 30 2E 5A 30  |1518008808010.Z0|
002B0  46 42 51 55 46 42 51 6D  46 6C 64 6D 35 76 58 31  |FBQUFBQmFldm5vX1|
002C0  64 5A 51 6C 42 54 55 6A  5A 34 53 33 56 32 64 44  |dZQlBTUjZ4S3V2dD|
002D0  6C 4F 55 6D 39 58 61 6A  4A 68 5A 47 56 4D 4C 55  |lOUm9XajJhZGVMLU|
002E0  74 44 59 30 4D 74 4F 47  78 56 58 30 64 43 51 54  |tDY0MtOGxVX0dCQT|
002F0  46 30 55 46 59 78 51 58  5A 69 65 55 4A 33 64 6E  |F0UFYxQXZieUJ3dn|
00300  4E 66 55 44 56 5A 54 6B  68 6A 55 55 56 35 59 6B  |NfUDVZTkhjUUV5Yk|
00310  4A 4E 56 58 70 4F 62 31  64 51 4D 6A 6C 48 54 45  |JNVXpOb1dQMjlHTE|
00320  55 79 4D 7A 4E 71 63 56  4E 44 52 47 6C 6B 4D 7A  |UyMzNqcVNDRGlkMz|
00330  49 79 59 33 4D 31 4D 7A  4D 78 56 30 52 72 52 46  |IyY3M1MzMxV0RrRF|
00340  45 78 53 32 49 31 59 55  56 75 64 48 6F 30 52 31  |ExS2I1YUVudHo0R1|
00350  4E 54 63 6C 39 6C 64 6B  6F 30 4F 54 4A 57 57 55  |NTcl9ldko0OTJWWU|
00360  5A 45 4E 6A 64 48 53 48  55 3B 20 44 6F 6D 61 69  |ZENjdHSHU; Domai|
00370  6E 3D 72 65 64 64 69 74  2E 63 6F 6D 3B 20 4D 61  |n=reddit.com; Ma|
00380  78 2D 41 67 65 3D 37 31  39 39 3B 20 50 61 74 68  |x-Age=7199; Path|
00390  3D 2F 3B 20 65 78 70 69  72 65 73 3D 57 65 64 2C  |=/; expires=Wed,|
003A0  20 30 37 2D 46 65 62 2D  32 30 31 38 20 31 35 3A  | 07-Feb-2018 15:|
003B0  30 36 3A 34 38 20 47 4D  54 3B 20 73 65 63 75 72  |06:48 GMT; secur|
003C0  65 0D 0A 73 65 74 2D 63  6F 6F 6B 69 65 3A 20 72  |e..set-cookie: r|
003D0  65 64 64 69 74 5F 73 65  73 73 69 6F 6E 3D 35 38  |eddit_session=58|
003E0  32 35 36 33 39 32 25 32  43 32 30 31 38 2D 30 32  |256392%2C2018-02|
003F0  2D 30 37 54 30 35 25 33  41 30 36 25 33 41 34 38  |-07T05%3A06%3A48|
00400  25 32 43 38 32 39 36 62  30 31 38 35 63 34 38 61  |%2C8296b0185c48a|
00410  30 38 39 33 63 39 61 33  35 63 34 30 34 65 63 33  |0893c9a35c404ec3|
00420  38 61 32 62 37 61 31 64  65 31 62 3B 20 44 6F 6D  |8a2b7a1de1b; Dom|
00430  61 69 6E 3D 72 65 64 64  69 74 2E 63 6F 6D 3B 20  |ain=reddit.com; |
00440  50 61 74 68 3D 2F 3B 20  73 65 63 75 72 65 3B 20  |Path=/; secure; |
00450  48 74 74 70 4F 6E 6C 79  0D 0A 58 2D 4D 6F 6F 73  |HttpOnly..X-Moos|
00460  65 3A 20 6D 61 6A 65 73  74 69 63 0D 0A 53 74 72  |e: majestic..Str|
00470  69 63 74 2D 54 72 61 6E  73 70 6F 72 74 2D 53 65  |ict-Transport-Se|
00480  63 75 72 69 74 79 3A 20  6D 61 78 2D 61 67 65 3D  |curity: max-age=|
00490  31 35 35 35 32 30 30 30  3B 20 69 6E 63 6C 75 64  |15552000; includ|
004A0  65 53 75 62 44 6F 6D 61  69 6E 73 3B 20 70 72 65  |eSubDomains; pre|
004B0  6C 6F 61 64 0D 0A 43 6F  6E 74 65 6E 74 2D 4C 65  |load..Content-Le|
004C0  6E 67 74 68 3A 20 32 30  32 0D 0A 41 63 63 65 70  |ngth: 202..Accep|
004D0  74 2D 52 61 6E 67 65 73  3A 20 62 79 74 65 73 0D  |t-Ranges: bytes.|
004E0  0A 44 61 74 65 3A 20 57  65 64 2C 20 30 37 20 46  |.Date: Wed, 07 F|
004F0  65 62 20 32 30 31 38 20  31 33 3A 30 36 3A 34 38  |eb 2018 13:06:48|
00500  20 47 4D 54 0D 0A 56 69  61 3A 20 31 2E 31 20 76  | GMT..Via: 1.1 v|
00510  61 72 6E 69 73 68 0D 0A  43 6F 6E 6E 65 63 74 69  |arnish..Connecti|
00520  6F 6E 3A 20 6B 65 65 70  2D 61 6C 69 76 65 0D 0A  |on: keep-alive..|
00530  58 2D 53 65 72 76 65 64  2D 42 79 3A 20 63 61 63  |X-Served-By: cac|
00540  68 65 2D 6D 64 77 31 37  33 35 30 2D 4D 44 57 0D  |he-mdw17350-MDW.|
00550  0A 58 2D 43 61 63 68 65  3A 20 4D 49 53 53 0D 0A  |.X-Cache: MISS..|
00560  58 2D 43 61 63 68 65 2D  48 69 74 73 3A 20 30 0D  |X-Cache-Hits: 0.|
00570  0A 58 2D 54 69 6D 65 72  3A 20 53 31 35 31 38 30  |.X-Timer: S15180|
00580  30 38 38 30 38 2E 39 39  34 38 35 38 2C 56 53 30  |08808.994858,VS0|
00590  2C 56 45 36 31 38 0D 0A  53 65 74 2D 43 6F 6F 6B  |,VE618..Set-Cook|
005A0  69 65 3A 20 65 64 67 65  62 75 63 6B 65 74 3D 38  |ie: edgebucket=8|
005B0  32 4E 36 76 6D 63 53 42  7A 57 41 70 4B 67 36 68  |2N6vmcSBzWApKg6h|
005C0  35 3B 20 44 6F 6D 61 69  6E 3D 72 65 64 64 69 74  |5; Domain=reddit|
005D0  2E 63 6F 6D 3B 20 4D 61  78 2D 41 67 65 3D 36 33  |.com; Max-Age=63|
005E0  30 37 31 39 39 39 3B 20  50 61 74 68 3D 2F 3B 20  |071999; Path=/; |
005F0  20 73 65 63 75 72 65 0D  0A 53 65 72 76 65 72 3A  | secure..Server:|
00600  20 73 6E 6F 6F 73 65 72  76 0D 0A 0D 0A 7B 22 6A  | snooserv....{"j|
00610  73 6F 6E 22 3A 20 7B 22  65 72 72 6F 72 73 22 3A  |son": {"errors":|
00620  20 5B 5D 2C 20 22 64 61  74 61 22 3A 20 7B 22 6E  | [], "data": {"n|
00630  65 65 64 5F 68 74 74 70  73 22 3A 20 74 72 75 65  |eed_https": true|
00640  2C 20 22 6D 6F 64 68 61  73 68 22 3A 20 22 6D 76  |, "modhash": "mv|
00650  32 6C 67 6C 77 6A 34 74  32 61 61 66 31 63 62 66  |2lglwj4t2aaf1cbf|
00660  37 33 62 64 30 61 34 65  38 36 34 33 32 37 62 64  |73bd0a4e864327bd|
00670  61 64 32 32 65 34 36 38  35 38 31 39 37 31 34 34  |ad22e46858197144|

< HTTP/1.1 200 OK
< content-type: application/json; charset=UTF-8
< x-ua-compatible: IE=edge
< x-frame-options: SAMEORIGIN
< x-content-type-options: nosniff
< x-xss-protection: 1; mode=block
< expires: -1
< cache-control: private, s-maxage=0, max-age=0, must-revalidate, max-age=0, must-revalidate
< set-cookie: loid=00000000000vvdrt5e.2.1518008808015.Z0FBQUFBQmFldm5vOVBteDRXNDI5QjBsbWhUczZLNHdMTlBVem5pbkVCRHl3dk51M0xnbk1jQWx6cGpDTklSazFIeGVrNGFZUHlUVjVJTGdJY0k3MFZrMVJSZ3pCOW5NaENHeVpMNUFhV1VycTFfS1czNi12bXVHd3J2N21seUlCc3dvMmdaOGZ5cUo; Domain=reddit.com; Max-Age=63071999; Path=/; expires=Fri, 07-Feb-2020 13:06:48 GMT; secure
< set-cookie: session_tracker=BomihiVx415IrhqM8z.0.1518008808010.Z0FBQUFBQmFldm5vX1dZQlBTUjZ4S3V2dDlOUm9XajJhZGVMLUtDY0MtOGxVX0dCQTF0UFYxQXZieUJ3dnNfUDVZTkhjUUV5YkJNVXpOb1dQMjlHTEUyMzNqcVNDRGlkMzIyY3M1MzMxV0RrRFExS2I1YUVudHo0R1NTcl9ldko0OTJWWUZENjdHSHU; Domain=reddit.com; Max-Age=7199; Path=/; expires=Wed, 07-Feb-2018 15:06:48 GMT; secure
< set-cookie: reddit_session=58256392%2C2018-02-07T05%3A06%3A48%2C8296b0185c48a0893c9a35c404ec38a2b7a1de1b; Domain=reddit.com; Path=/; secure; HttpOnly
< x-moose: majestic
< strict-transport-security: max-age=15552000; includeSubDomains; preload
< content-length: 202
< accept-ranges: bytes
< date: Wed, 07 Feb 2018 13:06:48 GMT
< via: 1.1 varnish
< connection: keep-alive
< x-served-by: cache-mdw17350-MDW
< x-cache: MISS
< x-cache-hits: 0
< x-timer: S1518008808.994858,VS0,VE618
< set-cookie: edgebucket=82N6vmcSBzWApKg6h5; Domain=reddit.com; Max-Age=63071999; Path=/;  secure
< server: snooserv
< 202 bytes of body received
>> Connect time: 339 ms and 459 μs
>> Request send time: 219 μs and 4 hnsecs
>> Response recv time: 658 ms, 677 μs, and 6 hnsecs
```

Here's the curl debug using the lowercase header

```
* found 148 certificates in /etc/ssl/certs/ca-certificates.crt
* found 597 certificates in /etc/ssl/certs
* ALPN, offering http/1.1
* SSL connection using TLS1.2 / ECDHE_RSA_AES_128_GCM_SHA256
* 	 server certificate verification OK
* 	 server certificate status verification SKIPPED
* 	 common name: *.reddit.com (matched)
* 	 server certificate expiration date OK
* 	 server certificate activation date OK
* 	 certificate public key: RSA
* 	 certificate version: #3
* 	 subject: C=US,ST=California,L=San Francisco,O=Reddit Inc.,CN=*.reddit.com
* 	 start date: Mon, 17 Aug 2015 00:00:00 GMT
* 	 expire date: Tue, 21 Aug 2018 12:00:00 GMT
* 	 issuer: C=US,O=DigiCert Inc,CN=DigiCert SHA2 Secure Server CA
* 	 compression: NULL
* ALPN, server accepted to use http/1.1
> POST /api/login/XXXXXXX HTTP/1.1
> Host: www.reddit.com
> Accept: */*
> user-agent: Mozilla/5.0 (X11;afari/537.36
> content-type: application/x-www-form-urlencoded
> Content-Length: 100
> 
* upload completely sent off: 100 out of 100 bytes
< HTTP/1.1 200 OK
< Content-Type: application/json; charset=UTF-8
< x-ua-compatible: IE=edge
< x-frame-options: SAMEORIGIN
< x-content-type-options: nosniff
< x-xss-protection: 1; mode=block
< expires: -1
< cache-control: private, s-maxage=0, max-age=0, must-revalidate, max-age=0, must-revalidate
< set-cookie: loid=00000000000vvecurt.2.1518009061737.Z0FBQUFBQmFldnJtMFJVbkJXQmROeG1VdHlMRlhvQkpRVDh1LU4tZHEtU2x0YTRZU3lWWXZNOEtzXzJlb0xCM3V6WklqcWo1ejJKZVpLLW03NzNFNS1NTjZ6STltOVYwaVl5REoweF84QVNuWXE0RWZuNDVFeEdIZjl4LU9qRFBFWXlRTWZpMWgzVUk; Domain=reddit.com; Max-Age=63071999; Path=/; expires=Fri, 07-Feb-2020 13:11:02 GMT; secure
< set-cookie: session_tracker=vbdDE1hvmePYnFgCfP.0.1518009061729.Z0FBQUFBQmFldnJtZWFJZmlQVnBOWDJBMC1SMDlXU3lGUDcyNGRqdHpJQ01UWDFCZ1hiM2JRdXF2Q1hPajJFMkhwLU9yUjRfYkc4U1RER0trZjRYQWc5LTZoMFNxYXEtVGEwSjZIV3h4am1PR2k3QU5TR2pVUkZLOGhfYmp4Q0R5cnNxR1lsb1cyOG4; Domain=reddit.com; Max-Age=7199; Path=/; expires=Wed, 07-Feb-2018 15:11:02 GMT; secure
< set-cookie: reddit_session=58256392%2C2018-02-07T05%3A11%3A02%2Cd3369e15419e888dfcc12f38d0de82c18c550468; Domain=reddit.com; Path=/; secure; HttpOnly
< X-Moose: majestic
< Strict-Transport-Security: max-age=15552000; includeSubDomains; preload
< Content-Length: 202
< Accept-Ranges: bytes
< Date: Wed, 07 Feb 2018 13:11:02 GMT
< Via: 1.1 varnish
< Connection: keep-alive
< X-Served-By: cache-hhn1529-HHN
< X-Cache: MISS
< X-Cache-Hits: 0
< X-Timer: S1518009062.671481,VS0,VE841
< Set-Cookie: edgebucket=6OyIE7y3wHFu7lm6Zm; Domain=reddit.com; Max-Age=63071999; Path=/;  secure
< Server: snooserv
< 
* Connection #0 to host www.reddit.com left intact
```

Here's the curl using the mixes case header

```
* found 148 certificates in /etc/ssl/certs/ca-certificates.crt
* found 597 certificates in /etc/ssl/certs
* ALPN, offering http/1.1
* SSL connection using TLS1.2 / ECDHE_RSA_AES_128_GCM_SHA256
* 	 server certificate verification OK
* 	 server certificate status verification SKIPPED
* 	 common name: *.reddit.com (matched)
* 	 server certificate expiration date OK
* 	 server certificate activation date OK
* 	 certificate public key: RSA
* 	 certificate version: #3
* 	 subject: C=US,ST=California,L=San Francisco,O=Reddit Inc.,CN=*.reddit.com
* 	 start date: Mon, 17 Aug 2015 00:00:00 GMT
* 	 expire date: Tue, 21 Aug 2018 12:00:00 GMT
* 	 issuer: C=US,O=DigiCert Inc,CN=DigiCert SHA2 Secure Server CA
* 	 compression: NULL
* ALPN, server accepted to use http/1.1
> POST /api/login/XXXXXXX HTTP/1.1
> Host: www.reddit.com
> Accept: */*
> user-agent: Mozilla/5.0 (X11;afari/537.36
> Content-Type: application/x-www-form-urlencoded
> Content-Length: 100
> 
* upload completely sent off: 100 out of 100 bytes
< HTTP/1.1 200 OK
< Content-Type: application/json; charset=UTF-8
< x-ua-compatible: IE=edge
< x-frame-options: SAMEORIGIN
< x-content-type-options: nosniff
< x-xss-protection: 1; mode=block
< set-cookie: loid=00000000000vverdqn.2.1518009235444.Z0FBQUFBQmFldnVVSFBOd2U2VVBXbzByemMxWEQ5bElhd2RCVWU2enI5WFgxNEhIZi1yX1Z0bG1PLVRHTTF1bWhsMnFEU09vZXZKSU91SXVTYTlBTVJSa2Rndnd6NVNLNUZnODFsOEhPMUhHNVpMN1pySUl5Y3VTZmxjXy03S3BkUV94aTh4aWVsTUo; Domain=reddit.com; Max-Age=63071999; Path=/; expires=Fri, 07-Feb-2020 13:13:56 GMT; secure
< set-cookie: session_tracker=2Tib6FGSqIETXeFgaQ.0.1518009235437.Z0FBQUFBQmFldnVVZUIxLUFkUkRQRlJDVDdhWVZmOTQ3cmI2djZMTkpEcGFILUJ0VU4yTFlJaTVIT1hQeFI5N1dzX0ZWR1JsaEdXbEl5SWN0T3M5eUk3bVhUZnV6UTFUekJKTVBGSGE0QnFGLUJZOWNlZWw2cGtWMWM1d0NxS19mUVBFZmRjdU5JMkc; Domain=reddit.com; Max-Age=7199; Path=/; expires=Wed, 07-Feb-2018 15:13:56 GMT; secure
< cache-control: max-age=0, must-revalidate
< X-Moose: majestic
< Strict-Transport-Security: max-age=15552000; includeSubDomains; preload
< Content-Length: 99
< Accept-Ranges: bytes
< Date: Wed, 07 Feb 2018 13:13:56 GMT
< Via: 1.1 varnish
< Connection: keep-alive
< X-Served-By: cache-fra19126-FRA
< X-Cache: MISS
< X-Cache-Hits: 0
< X-Timer: S1518009235.681212,VS0,VE1454
< Set-Cookie: edgebucket=1EYva3d0k4XqdYUY7S; Domain=reddit.com; Max-Age=63071999; Path=/;  secure
< Server: snooserv
< 
* Connection #0 to host www.reddit.com left intact
```

> reddit-api calls

Reddit doesn't provide any debugging info or docs for the cookie api (They only have docs for the Oauth API)

As far as I can tell this is a bug in reddit and not this lib

@cyian-1756 
I will look deepr into this. Probably during weekend.

Hello, @cyian-1756 

This works for me:

```
    rq = Request();
    rq.addHeaders(["Accept":"*/*"]);
    auto response = rq.post("https://ssl.reddit.com/api/login", 
        [
            "user":"XXX", 
            "passwd":"YYY",
            "api_type": "json"
        ]);
    writeln(response.responseBody);
```
With verbosity enabled it prints:

```
> POST /api/login HTTP/1.1
> Content-Length: 46
> Connection: Keep-Alive
> Accept: */*
> Accept-Encoding: gzip,deflate
> Content-Type: application/x-www-form-urlencoded
> User-Agent: dlang-requests
> Host: ssl.reddit.com
> 
> api_type=json&user=XXX&passwd=YYY

< HTTP/1.1 200 OK
< content-type: application/json; charset=UTF-8
< x-ua-compatible: IE=edge
< x-frame-options: SAMEORIGIN
< x-content-type-options: nosniff
< x-xss-protection: 1; mode=block
< expires: -1
< cache-control: private, s-maxage=0, max-age=0, must-revalidate, max-age=0, must-revalidate
< set-cookie: ########
< set-cookie: ########
< set-cookie: ########
< x-moose: majestic
< strict-transport-security: max-age=15552000; includeSubDomains; preload
< content-length: 204
< accept-ranges: bytes
< date: Fri, 09 Feb 2018 12:56:09 GMT
< via: 1.1 varnish
< connection: keep-alive
< x-served-by: cache-hhn1543-HHN
< x-cache: MISS
< x-cache-hits: 0
< x-timer: S1518180968.269260,VS0,VE802
< set-cookie: #######
< server: snooserv
< 204 bytes of body received
>> Connect time: 693 ms and 876 μs
>> Request send time: 175 μs
>> Response recv time: 885 ms and 409 μs
{"json": {"errors": [], "data": {"need_https": true, "modhash": "############", "cookie": "#############"}}}
```

So looks like I successfully logged in. What else we can test with it?


@ikod 

Adding the "Accept":"*/*" header works as does adding a lower case content-type header. I think it's safe to say that this bug is with reddit and not this library 